* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div > p {
  background-color: yellow;
}

.color-class {
  color: green;
}

#color-id {
  color: red;
}

[data-color="blue"] {
  color: blue;
}

.container p {
  color: purple;
}

div p.context-selector {
  color: orange;
}

div + p {
  color: pink;
}

.container#combo p {
  color: brown;
}

p {
  color: black;
}

.article > p {
  color: aqua;
}

.header {
  text-align: center;
  background-color: beige;
  padding: 10px 0;
}
